/* Appliquer une police de caractère spécifique à tout le document */
body {
    font-family: Arial, sans-serif;
}

/* Centrer le titre */
h2 {
    text-align: center;
}

/* Modifier la taille du champ de saisie du nom des joueurs */
input[type="text"] {
    width: 250px;
    padding: 5px;
    font-size: 16px;
}

/* Modifier l'apparence des labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Modifier l'apparence des boutons */
button {
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

/* Modifier l'apparence du select */
select {
    padding: 5px;
    font-size: 16px;
}

/* Modifier l'apparence de l'option "Jaune" */
select option[value="Jaune"] {
    background-color: yellow;
}

/* Modifier l'apparence de l'option "Rouge" */
select option[value="Rouge"] {
    background-color: red;
    color: white;
}
