.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.select {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.select select {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
}

.select:after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.text {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
